

@media(max-width: 600px){
  .formContainer{
    left: 0 !important;
    z-index: 300 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formAdd{
    width: 90% !important;
    font-size: 13px !important;
  }
  .boxInputTime p{
    font-size: 12px !important;
 }
 .titleForm{
    right: 18% !important;
 }
 .msgErro{
    font-size: 13px !important;
 }

 .swalBox{
    font-size: 12px !important;
 }
 .swalBox .swal2-confirm{
    min-width: 100px !important;
 }

}

.formContainer {
    position: absolute;
    top: 30%;
    left: 30%;
    max-width: 100%;
    z-index: 300 !important;
    z-index: 10;
    font-family: 'Acme', sans-serif !important; 
}
.titleForm{
    color: black !important;
    position: relative;
    right: 25%;
}
.formAdd {
    height: auto;
    display: flex;
    padding: 20px;
    width: 450px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    align-items: center;
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding-bottom: 50px;
}
.formAdd p{
    margin-bottom: 0;
    color: rgb(49, 47, 47) !important;
}
.formAdd textarea{
    width: 80%;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.formAdd textarea:focus{
    outline: none;
}
.formAdd textarea::placeholder{
    color: rgb(20, 20, 20);
}
.formAdd input{
    width: 80%;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.formAdd input:focus{
    outline: none;
}
.formAdd input::placeholder{
    color: rgb(20, 20, 20);
}
.msgErro{
    font-size: 17px;
    color: red !important;
    margin-bottom: 0;
}  
.formSelect{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;

    margin-top: 20px;
}
.formSelect:focus{
    outline: none;
}
.formTarefas textarea{
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
.formTarefas textarea:focus{
    outline: none;
}
.formTarefas textarea::placeholder{
    color: rgb(14, 13, 13);
}
.boxInputTime{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.boxInputTime input{
    width: 80%;
}
.boxInputTime p{
    color: white;
    position: relative;
    left: 10%;
    margin-bottom: 5px;
}


.swalBox{
    font-size: 14px;
 }
 .swalBox .swal2-confirm{
    min-width: 100px;
 }