@media(max-width: 300px){
   .header img{
    margin-left: -10px !important;
  }
  .mainBtnMenuHeader{
    display: block !important;
    position: relative;
    right: 13%;
    top: 0 !important;
  }
  .navLinks{
    display: none !important;
  }
  .mainMenuOptionShow{
    width: 100% !important;
  }
  .menuOptions{
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .btnMenuAll{
    height: 30px !important;
  }
  .btnMenuOpen{
    height: 30px !important;
  }
  .btnMenu{
    font-size:  14px !important;
  }
   .menuGrupo button{
    font-size: 13px !important;
  }
  .menuGrupoOpen button{
    font-size: 13px !important;
  }
   
}

@media (min-width: 301px) and  (max-width: 600px){
  .header img{
    margin-left: -10px !important;
  }
  .mainBtnMenuHeader{
    display: block !important;
    position: relative;
    right: 13%;
    top: 8px;
  }
  .navLinks{
    display: none !important;
  }
  .mainMenuOptionShow{
    width: 100% !important;
  }
  .menuOptions{
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .menuGrupoOpen{
    font-size: 13px !important;
  }
  .menuGrupoOpen button{
    font-size: 13px !important;
  }


  
}

.menuUserMobile{
    position: absolute;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    min-width: 200px;
    left: -150%;
    top: 60%;
    z-index: 5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
.dark .menuUserMobile{
  box-shadow: 0px 0px 3px 0px rgb(21, 65, 80);
}
.light .menuUserMobile{
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.menuUserMobileAberto{
    max-height: 300px;
    opacity: 1;
}
.linkNavMobile{
    margin-right: 30px;
    text-decoration: none;
    color: rgb(39, 36, 36);
    font-size: 18px;
    border: none;
    min-height: 20px;
    display: flex;
    background-color: transparent;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.linkNavMobile:focus{
    outline: none;  
}
.dark .linkNavMobile{
  color: rgb(168, 161, 161) ;
}
.light .linkNavMobile{
  color: rgb(49, 46, 46);
}




.header{
    padding: 20px;
    position: relative;
}
.header img{
  height: 100px;
  width: 100px;
  margin-left: 30px;
  position: relative;
  bottom: 20px;
}
.mainBtnMenuHeader{
  display: none;
  position: relative;
}
.dark .btnMenuHeader{
  height: 35px;
  background-color: transparent !important;
  color: rgb(148, 145, 145);
  border: none;
}
.light .btnMenuHeader{
  height: 35px;
  background-color: transparent !important;
  color: rgb(41, 40, 40);
  border: none;
}
.navLinks{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.linkNav{
    margin-right: 30px;
    text-decoration: none;
    color: rgb(39, 36, 36);
    font-size: 18px;
    border: none;
    max-height: 20px;
    display: flex;
    background-color: transparent;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.linkNav:focus{
    outline: none;  
}
.dark .linkNav{
  color: rgb(168, 161, 161) ;
}
.light .linkNav{
  color: rgb(49, 46, 46);
}

.mainUser{
    position: relative;
}
.btnUser{
    background-color: transparent;
    border: none;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(39, 36, 36);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    position: relative;
    bottom: 1px;
    transition: color 0.3s ease-in-out;
}
.dark .btnUser{
  color: rgb(168, 161, 161) ;
}
.light .btnUser{
  color: rgb(49, 46, 46);
}
.menuUser{
    position: absolute;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    min-width: 150px;
    right: 0;
    top: 60%;
    z-index: 5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
.dark .menuUser{
  box-shadow: 0px 0px 3px 0px rgb(21, 65, 80);
}
.light .menuUser{
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.menuUserAberto{
    max-height: 300px;
    opacity: 1;
}
.linkUser{
    padding: 5px 20px;
    margin: 5px;
    margin-top: 5px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: rgb(39, 36, 36);
    background-color: transparent;
    border: none;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


.mainMenu{
  position: fixed !important;
  z-index: 50;
  min-width: auto;
  margin-top: 45px;
  overflow: hidden;
}
.btnMenuAll{
  color: white;
  background-color: rgba(15, 15, 15, 0.7) !important;
  background-color: transparent;
  border: none;
  position: relative;
  height: 50px;
  border-radius: 5px;
  width: auto;
}
.btnMenuOpen{
  position: relative;
  color: white;
  border-radius: 5px;
  background-color: rgba(15, 15, 15, 0.7) !important;
  background-color: transparent;
  border: none;
  height: 50px;
  left: 85%;
}
.mainMenuOptionHidden{
  transition: width 0.3s ease-in-out;
  width: 0;
  height: 0;
  overflow: hidden;
}
.mainMenuOptionShow{
  transition: width 0.3s ease-in-out;
  width: 300px;
  overflow: hidden;
}


.menuOptions{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.btnMenu{
    background-color: rgba(223, 223, 217, 0.9);
    border: none;
    border-radius: 8px;
    color: rgb(5, 5, 5);
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-top: 5px;
}
.btnMenu:focus{
    outline: none;
}








 .menuGrupo{
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;
} 
.menuGrupo button{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: rgb(7, 7, 7);
    background-color: rgba(223, 223, 217, 0.9);
    border-radius: 8px;
    width: 90%;
}

.menuGrupoOpen{
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    max-height: 300px;
    transition: max-height 0.3s ease, opacity 0.5s ease;
 }
 .menuGrupoOpen button{
   padding: 10px;
   border: none;
   background-color: transparent;
   color: rgb(7, 7, 7);
   background-color: rgba(223, 223, 217, 0.9);
   border-radius: 8px;
   width: 90% !important;
 }

 .mainComponents{
  width: 100%;
  margin-top: 100px;
  position: relative;
 }


 .showOverflowMain{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    left: 0;
    background-color: rgba(15, 15, 15, 0.9);
    width: 100%;
    height: 100%;
    z-index: 40;
}
 .closeOverflowMain{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    left: 0;
    background-color: rgba(15, 15, 15, 0.9);
    width: 0;
    height: 100%;
    z-index: 40;
}


.formContainer {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 100%;
    z-index: 50 !important;
    font-family: 'Acme', sans-serif !important; 
}