@media(max-width: 600px){
    .boxForgot{
        display: block !important;
        width: 100% !important;
    }
    .boxForgot h2{
        font-size: 1.5rem !important;
        width: 90% !important;
    }
    .boxForgot form{
        width: 90% !important;
        margin-left: 0 !important;
    }
    .errorInputForgot{
        font-size: 14px;
        top: 110% !important;
    }
    .errorValidateRecoveryOne{
        width: 80% !important;
        text-align: center !important;
        font-size: 14px;
        margin-top: 50px !important;
    }
}
@media(min-width: 601px) and (max-width: 1000px){
    .boxForgot{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .boxForgot h2{
        width: 60% !important;
    }
    .boxForgot form{
        width: 60% !important;
        margin-left: 0 !important;
    }
}

.mainForgot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
}
.boxForgot{
    padding: 20px;
    width: 65%;
    display: flex;
}
.loading{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
}
.loading p{
    color: aliceblue;
    margin-left: 10px;
}
.loading-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3; /* Cor do fundo */
    border-top: 6px solid #1c2e5d; /* Cor do spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.boxForgot h2{
    font-size: 35px;
    font-family: 'Alegreya Sans', sans-serif !important; 
    width: 60%;
}
.boxForgot form{
    font-family: 'Acme', sans-serif !important; 
    width: 60%;
    padding: 20px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}
.boxInputsForgot{
  position: relative;
  width: 100%;
}
.boxInputsForgot input{ 
    border-radius: 5px;
    width: 100%;
    background-color: #c6c7c9;
    border: 1px solid #9f9fa1;
    color: rgb(14, 13, 13);
    padding: 7px 40px !important;
}
.boxInputsForgot input:focus{
    outline: none;
}
.dark .boxInputsForgot input{
    outline: none;
}
.dark .boxInputsForgot input::placeholder{
    color: rgb(43, 40, 40);
}
.light .boxInputsForgot input::placeholder{
    color: rgb(43, 40, 40);
}
.errorInputForgot{
    position: absolute;
    top: 100%;
    color: red;
    left: 10px;
}
.dark .errorInputForgot{
    color: red;
}
.iconMailForgot{
    position: absolute;
    top: 7px;
    left: 7px;
    color: rgb(37, 36, 36);
    padding-right: 5px;
    border-right: 1px solid rgb(148, 147, 147);
}
.errorValidateRecoveryOne{
    background-color: rgb(255, 158, 158);
    color: red;
    width: 60%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    text-align: start;
    margin-bottom: 0;
    padding:10px ;
    border-radius:5px ;
    border: 1px solid red;
}
.dark .errorValidateRecoveryOne{
    color: red;
}
.span-success{
    min-width: 100%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0; 
}
.dark .span-success{
    color: #121213;
}
.span-error{
  min-width: 100%;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;   
}
.dark .span-error{
    color: #121213;
}
.boxForgot button{
    width: 70%;
    border: none;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
}
.dark .boxForgot button{
    box-shadow: 0px 0px 3px 0px rgb(69, 172, 206);
    font-weight: bold;
    background: linear-gradient(90deg, #66b2ff, #0044cc); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.light .boxForgot button{
    box-shadow: 0px 0px 5px 0px rgb(15, 15, 15);
    font-weight: bold;
    background: linear-gradient(90deg, #121213, #525763); 
    color: white;
}