@import url(https://fonts.bunny.net/css?family=acme:400|alegreya-sans:300);

@media(max-width:400px){
    .boxTxt{
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        padding: 10px;
        justify-content: center;
    }
    .typingTextStepTwo{
        width: 90% !important;
        font-size: 1rem !important;
    }
}

@media(min-width:401px) and (max-width:600px){
    .boxTxt{
        width: 90% !important;
    }
    .typingTextStepTwo{
        font-size: 2rem !important;
    }
}

body{
    font-family: 'Alegreya Sans', sans-serif !important; 
    transition: background 0.3s ease, color 0.3s ease;
}

.mainTxtStepTwo{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.boxTxt{
    width: 55%;
    margin-top: 80px;
}
.typingTextStepTwo {
    font-size: 2.4rem;
    font-family: 'Alegreya Sans', sans-serif !important;
    line-height: 1.6;
    color: rgb(27, 22, 22);
    position: relative;
}

.cursorTwo {
    display: inline-block;
    animation: blink 0.8s infinite;
    margin-left: 2px;
}