@media(max-width:600px){
    .mainDeleteGroup{
        left: 0 !important;
        width: 95%;
    }
    .msgErroGrupo{
        font-size: 13px !important;
    }
}

.mainGrupos{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Acme', sans-serif !important;
}
.titleGroups{
    font-family: 'Acme', sans-serif !important;
    color: darkgray;
    font-size: 20px;
}
.light .titleGroups{
    color: rgb(61, 59, 59);
}
.mainSelectGroup{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Acme', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark .mainSelectGroup select{
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(24, 23, 23);
    color: rgb(145, 141, 141);
}
.light .mainSelectGroup select{
    padding: 7px;
    border-radius: 5px;
    color: rgb(53, 52, 52);
    background-color: rgb(250, 242, 242);
}

.allGroupHidden{
    opacity: 0;
    transition: opacity 0.5s ease-in-out !important;
}
.allGroupShow{
    transition: opacity 0.5s ease-in-out !important;
    opacity: 1;
}
.grupos{
    margin-bottom: 50px;
    border-radius: 5px;
    height: auto !important;
    border: none;
    position: relative;  
    font-family: 'Acme', sans-serif !important;
}
.dark .grupos{
   border-top: 1px solid rgba(48, 46, 46, 0.8)
}
.light .grupos{
    border-top: 1px solid rgba(163, 161, 161, 0.8)
}

.dark .tituloGrupo{
    color: rgb(197, 195, 195) !important;
}
.light .tituloGrupo{
    color: rgb(82, 79, 79) !important;
}
.overflowGroup{
    background-color: rgba(27, 27, 27, 0.8);
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    border-radius: 10px;
}
.mainDeleteGroup{
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    z-index: 510;
}
.mainDeleteGroup p{
    color: rgb(54, 53, 53) !important;
}
.boxBtnDelete{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.boxBtnDelete button{
    margin: 20px;
    min-width: 100px;
}
.mainInfoGroup{
    position: relative;
}
.boxInfoGrupo{
    margin-left: 20px;
    margin-top: 20px;
}
.btnDeleteGroup{
    margin-right: 20px;
    margin-top: 10px;
}
.boxEditGroup{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: auto;
    background-color: lightgray;
    z-index: 500;
    width: 300px;
    margin-left: 20px;
}
.titleEditGroup{
    color:rgb(53, 52, 52) !important; 
    margin-left: 20px;

}
.btnSubmitEdit{
    margin-bottom: 30px !important;
}
.msgErroGrupo{
    width: 80%;
    color: red !important;
    text-align: center;
    font-size: 15px !important;
    margin-right: 0 !important;
}
.btnEditGroup{
    background-color: transparent;
    border: none;
    margin-left: 10px;
    height: 20px;
    color: rgb(82, 79, 79);
}
.btnCloseEditGroup{
    border: none;
    background-color: transparent;
    position: relative;
    right: 30px;
    margin-top: 20px;
}
.boxEditGroup input{
  width: 90%;
  padding: 7px;
  border-radius: 5px;
  border: none;
}
.boxEditGroup input{
    outline: none;
}
.grupos h3{
    color: rgb(22, 23, 24);
    font-size: 35px;
    width: 100%;
}
.grupos p{
    color: rgb(23, 23, 24);
    font-size: 20px;
}
.taskGroup{
    height: auto;
    margin-top: 20px;
}








