
.mainReset{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
}
.boxReset{
    padding: 20px;
    width: 65%;
    display: flex;
}
.boxReset h2{
    font-size: 35px;
    position: relative;
    top: 20px;
    font-family: 'Alegreya Sans', sans-serif !important; 
    width: 60%;
}
.boxReset form{
    width: 60%;
    padding: 20px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}
.boxReset input{ 
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    transition: box-shadow 0.3s ease-in-out;
}
.dark .boxReset input{
    outline: none;
    box-shadow: 0px 0px 6px 0px lightgray;
    transition: box-shadow 0.3s ease-in-out;
}
.dark .boxReset input::placeholder{
    color: rgb(43, 40, 40);
}
.light .boxReset input::placeholder{
    color: rgb(43, 40, 40);
}
.dark .boxReset input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 0px lightgray;
}
.light .boxReset input{
    outline: none;
    box-shadow: 0px 0px 3px 0px rgb(24, 19, 19);
}
.light .boxReset input:focus{
    outline: none;
    box-shadow: 0px 0px 5px 0px rgb(24, 19, 19);
}
.span-success{
    min-width: 100%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0; 
}
.dark .span-success{
    color: #121213;
}
.span-error{
  min-width: 100%;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;   
}
.dark .span-error{
    color: #121213;
}
.boxReset button{
    width: 70%;
    border: none;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}
.dark .boxReset button{
    box-shadow: 0px 0px 3px 0px rgb(69, 172, 206);
    font-weight: bold;
    background: linear-gradient(90deg, #66b2ff, #0044cc); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.light .boxReset button{
    box-shadow: 0px 0px 5px 0px rgb(15, 15, 15);
    font-weight: bold;
    background: linear-gradient(90deg, #121213, #525763); 
    color: white;
}